<div class="navbar w-nav" data-animation="default" data-collapse="medium" data-duration="400">
  <div class="w-container">
    <a class="brand w-nav-brand" href="#inicio"><img class="logo" src="img/bs-logo.png">
    </a>
    <nav class="nav-menu w-nav-menu" role="navigation"><a class="nav-link right-after-logo w-nav-link" href="#afp">Auditoria Folha<br>de Pagamento</a><a class="nav-link w-nav-link" href="#revisao-fiscal">Revisão<br>fiscal</a><a class="nav-link w-nav-link" href="#gestao-trabalhista">Gestão<br>trabalhista</a><a class="nav-link w-nav-link" href="#desenvolvimento">Desenvolvimento dos<br>Trabalhos no Âmbito Judicial</a><a class="nav-link w-nav-link" href="#clientes">Nossos<br>Clientes</a><a class="contact-us nav-link w-nav-link" href="#contato">Contato</a>
    </nav>
    <div class="w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
</div>
