<div class="view" id="afp-1">
        <div class="vertical-center">
            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <nav>
                            <h1>Auditoria folha<br>de pagamento</h1>
                            <ol class="submenu w-list-unstyled">
                                <li class="submenu-item"><a class="submenu-item-link w-clearfix w--current" ui-sref="auditoriaI"><span class="submenu-item-before">I</span> Verbas indenizatórias pacificadas</a>
                                </li>
                                <li class="single-line-item submenu-item"><a class="submenu-item-link w-clearfix" ui-sref="auditoriaII"><span class="submenu-item-before">II</span>Cooperativa de trabalho</a>
                                </li>
                                <li class="submenu-item"><a class="submenu-item-link w-clearfix" ui-sref="auditoriaIII"><span class="submenu-item-before">III</span>Reenquadramento RAT de acordo com atividade/filiais</a>
                                </li>
                                <li class="single-line-item submenu-item"><a class="submenu-item-link w-clearfix" ui-sref="auditoriaIV"><span class="submenu-item-before">IV</span>RAT especial</a>
                                </li>
                                <li class="single-line-item submenu-item"><a class="submenu-item-link w-clearfix" ui-sref="auditoriaV"><span class="submenu-item-before">V</span>Absenteísmo</a>
                                </li>
                                <li class="single-line-item submenu-item"><a class="submenu-item-link w-clearfix" ui-sref="auditoriaVI"><span class="submenu-item-before">VI</span>Desoneração</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="w-col w-col-1"></div>
                    <div class="w-col w-col-7">
                        <h1 class="content-title">I</h1>
                        <a class="w-inline-block" ui-sref="auditoria">
                            <div class="left nav-arrow">‹</div>
                        </a>
                        <a class="w-inline-block" ui-sref="auditoriaII">
                            <div class="nav-arrow right">›</div>
                        </a>
                        <div class="content-box w-richtext">
                            <p>Recuperação do valor pago a maior, título de contribuição previdenciária recolhida sobre verbas de natureza indenizatória, a saber:</p>
                            <ol>
                                <li>15 primeiros dias de auxílio acidente-doença;</li>
                                <li>adicional constitucional de terço de férias gozadas e indenizadas;</li>
                                <li>aviso prévio indenizado e reflexos. O Superior Tribunal de Justiça, no julgamento do REsp 1.230.957/RS, em sede de recurso repetitivo, pacificou o entendimento neste sentido. A recuperação ocorre mediante compensação com contribuições previdenciárias vincendas.</li>
                            </ol>
                            <p><strong>Prazo de execução:</strong> 30 dias contados do recebimento da documentação.</p>
                            <p><strong>Período de recuperação:</strong> Últimas 60 competências.</p>
                            <p><strong>Expectativa de recuperação:</strong> Valor correspondente a 1/1,5 folha mensal de pagamento.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
