<div class="view" id="apt-5">
        <div class="vertical-center">
            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <nav>
                            <h1>Auditoria folha<br>de pagamento</h1>
                            <ol class="submenu w-list-unstyled">
                                <li class="submenu-item"><a class="submenu-item-link w-clearfix" ui-sref="auditoriaI"><span class="submenu-item-before">I</span> Verbas indenizatórias pacificadas</a>
                                </li>
                                <li class="single-line-item submenu-item"><a class="submenu-item-link w-clearfix" ui-sref="auditoriaII"><span class="submenu-item-before">II</span>Cooperativa de trabalho</a>
                                </li>
                                <li class="submenu-item"><a class="submenu-item-link w-clearfix" ui-sref="auditoriaIII"><span class="submenu-item-before">III</span>Reenquadramento RAT de acordo com atividade/filiais</a>
                                </li>
                                <li class="single-line-item submenu-item"><a class="submenu-item-link w-clearfix" ui-sref="auditoriaIV"><span class="submenu-item-before">IV</span>RAT especial</a>
                                </li>
                                <li class="single-line-item submenu-item"><a class="submenu-item-link w-clearfix w--current" ui-sref="auditoriaV"><span class="submenu-item-before">V</span>Absenteísmo</a>
                                </li>
                                <li class="single-line-item submenu-item"><a class="submenu-item-link w-clearfix" ui-sref="auditoriaVI"><span class="submenu-item-before">VI</span>Desoneração</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="w-col w-col-1"></div>
                    <div class="w-col w-col-7">
                        <a class="w-inline-block" ui-sref="auditoriaIV">
                            <div class="left nav-arrow">‹</div>
                        </a>
                        <a class="w-inline-block" ui-sref="auditoriaVI">
                            <div class="nav-arrow right">›</div>
                        </a>
                        <div class="content-box less-text more-space w-richtext">
                            <p>Revisão sobre a folha de pagamento, visando a apreciação de todas as faltas justificadas apresentadas pelos colaboradores nos últimos 5 anos, a fim de se apurar e recuperar eventual valor indevidamente recolhido a título de contribuição previdenciária sobre as faltas.</p>
                            <p><strong>Prazo de execução</strong>: 60 dias contados do recebimento da documentação.</p>
                            <p><strong>Período de recuperação</strong>: Últimas 60 competências.</p>
                            <p><strong>Expectativa de recuperação</strong>: Variável.</p>
                        </div>
                        <h1 class="content-title">V</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
