<div class="view" id="alp-4">
        <div class="vertical-center">
            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <nav>
                            <h1>Auditoria folha<br>de pagamento</h1>
                            <ol class="submenu w-list-unstyled">
                                <li class="submenu-item"><a class="submenu-item-link w-clearfix" ui-sref="auditoriaI"><span class="submenu-item-before">I</span> Verbas indenizatórias pacificadas</a>
                                </li>
                                <li class="single-line-item submenu-item"><a class="submenu-item-link w-clearfix" ui-sref="auditoriaII"><span class="submenu-item-before">II</span>Cooperativa de trabalho</a>
                                </li>
                                <li class="submenu-item"><a class="submenu-item-link w-clearfix" ui-sref="auditoriaIII"><span class="submenu-item-before">III</span>Reenquadramento RAT de acordo com atividade/filiais</a>
                                </li>
                                <li class="single-line-item submenu-item"><a class="submenu-item-link w-clearfix w--current" ui-sref="auditoriaIV"><span class="submenu-item-before">IV</span>RAT especial</a>
                                </li>
                                <li class="single-line-item submenu-item"><a class="submenu-item-link w-clearfix" ui-sref="auditoriaV"><span class="submenu-item-before">V</span>Absenteísmo</a>
                                </li>
                                <li class="single-line-item submenu-item"><a class="submenu-item-link w-clearfix" ui-sref="auditoriaVI"><span class="submenu-item-before">VI</span>Desoneração</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="w-col w-col-1"></div>
                    <div class="w-col w-col-7">
                        <h1 class="content-title">IV</h1>
                        <a class="w-inline-block" ui-sref="auditoriaIII">
                            <div class="left nav-arrow">‹</div>
                        </a>
                        <a class="w-inline-block" ui-sref="auditoriaV">
                            <div class="nav-arrow right">›</div>
                            <div class="nav-arrow right">›</div>
                        </a>
                        <div class="content-box w-richtext">
                            <p>Revisão sobre a folha de pagamento, com o objetivo de analisarem-se as atividades desenvolvidas na empresa, segundo as Normas de Segurança do Trabalho, a fim de identificar se a empresa deve realizar o pagamento majorado da alíquota do RAT acrescida em 6%, 9% ou 12%, considerando a legislação que estabelece que caso estejam ausente as condições especiais no ambiente laboral, seja pela atividade/função desenvolvida, seja pela utilização de EPI eficaz, não erá devido o recolhimento da alíquota RAT majorada (IN RFB 917/2009, art. 293, §2º; IN INSS 77/2015, art. 266 e INFORMATIVO 770/2014 STF).</p>
                            <p><strong>Prazo de execução</strong>: 60 dias contados a partir do recebimento da documentação.</p>
                            <p><strong>Período de recuperação</strong>: Últimas 60 competências.</p>
                            <p><strong>Expectativa de recuperação</strong>: Variável de acordo com o número de funcionários descaracterizados da incidência.</p>
                            <p><strong>Economia futura</strong>: Variável de acordo com número de funcionários descaracterizados da incidência.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
