<div class="view" id="contato">
        <div class="vertical-center">
            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <h1>Contato</h1>
                        <h2 class="subtle">Belo Horizonte</h2><address><a href="#">Av. Brasil - 1666 - 9º andar. Funcionários.<br>CEP: 30140-003</a></address><a href="#">Tel: +55 (31) 3348-2800</a>
                        <h2 class="border-top subtle">São Paulo</h2><address><a href="#">Av. Brasil - 1666 - 9º andar. Funcionários.<br>CEP: 30140-003</a></address><a href="#">Tel: +55 (31) 3348-2800</a>
                        <h2 class="border-top subtle">Rio de Janeiro</h2><address><address><a href="#">Av. Brasil - 1666 - 9º andar. Funcionários.<br>CEP: 30140-003</a></address></address><a href="#">Tel: +55 (31) 3348-2800</a>
                        <div class="border-top w-richtext">
                            <p><a href="http://www.bsadvocacia.com.br">http://www.bssadvocacia.com.br/</a>
                            </p>
                            <p><a href="mailto:contato@bsadvogados.com.br">contato@bsadvogados.com.br</a>
                            </p>
                        </div>
                    </div>
                    <div class="w-col w-col-8">
                        <div class="test"><img src="img/contato.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
