<div class="view" id="desenvolvimento">
        <div class="vertical-center">
            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <nav>
                            <h1 class="avoid-overflow">Desenvolvimento dos trabalhos no âmbito judicial</h1>
                            <ul class="submenu w-list-unstyled">
                                <li class="submenu-item"><a class="w-clearfix" ui-sref="desenvolvimentoI"><span class="submenu-item-before">I</span>Exclusão ICMS/ISSQN/CPRB<br>Base Incidência PIS-COFINS</a>
                                </li>
                                <li class="submenu-item"><a class="w-clearfix" ui-sref="desenvolvimentoII"><span class="submenu-item-before">II</span>Adicional de 10% sobre a<br>multa do FGTS</a>
                                </li>
                                <li class="submenu-item"><a class="w-clearfix" ui-sref="desenvolvimentoIII"><span class="submenu-item-before">III</span>Contribuição previdenciária sobre verbas indenizatórias</a>
                                </li>
                                <li class="single-line-item submenu-item"><a class="w-clearfix" ui-sref="desenvolvimentoIV"><span class="submenu-item-before">IV</span>PIS-COFINS receitas financeiras</a>
                                </li>
                                <li class="submenu-item"><a class="w-clearfix" ui-sref="desenvolvimentoV"><span class="submenu-item-before">V</span>Contribuição previdenciária de transportador autônomo</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="w-col w-col-1"></div>
                    <div class="w-col w-col-7">
                        <a class="w-inline-block" ui-sref="desenvolvimentoI">
                            <div class="nav-arrow right">›</div>
                        </a><img class="submenu-thumbnail" src="img/desenvolvimento.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
