<div class="view" id="desenvolvimento-4">
        <div class="vertical-center">
            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <nav>
                            <h1 class="avoid-overflow">Desenvolvimento dos trabalhos no âmbito judicial</h1>
                            <ul class="submenu w-list-unstyled">
                                <li class="submenu-item"><a class="w-clearfix" ui-sref="desenvolvimentoI"><span class="submenu-item-before">I</span>Exclusão ICMS/ISSQN/CPRB<br>Base Incidência PIS-COFINS</a>
                                </li>
                                <li class="submenu-item"><a class="w-clearfix" ui-sref="desenvolvimentoII"><span class="submenu-item-before">II</span>Adicional de 10% sobre a<br>multa do FGTS</a>
                                </li>
                                <li class="submenu-item"><a class="w-clearfix" ui-sref="desenvolvimentoIII"><span class="submenu-item-before">III</span>Contribuição previdenciária sobre verbas indenizatórias</a>
                                </li>
                                <li class="submenu-item"><a class="submenu-item-link w-clearfix w--current" ui-sref="desenvolvimentoIV"><span class="submenu-item-before">IV</span>PIS-COFINS receitas <br>financeiras</a>
                                </li>
                                <li class="submenu-item"><a class="w-clearfix" ui-sref="desenvolvimentoV"><span class="submenu-item-before">V</span>Contribuição previdenciária de transportador autônomo</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="w-col w-col-1"></div>
                    <div class="w-col w-col-7">
                        <div class="content-box less-text w-richtext">
                            <p><strong>Objeto</strong>: Ação judicial visando questionar a legalidade/constitucionalidade da incidência do PIS e COFINS sobre receitas financeiras, em vigor a partir de 01/07/2015, como exemplo: juros recebidos, descontos obtidos, lucro na operação de reporte, rendimentos nominais relativos a aplicações financeiras de renda fixa.</p>
                            <p><strong>Fundamento</strong>: Precedente do Supremo Tribunal Federal, segundo o qual é inconstitucional a majoração de alíquota por ato infralegal. No caso em discussão, o restabelecimento da alíquota se deu por meio do Decreto nº 8.426/2015, em afronta ao Princípio da Legalidade, disposto no artigo 150, I, da Constituição Federal, que dispõe que apenas a lei pode instituir ou majorar tributos.</p>
                            <p><strong>Recuperação</strong>: Valor indevidamente recolhido a título de PIS-COFINS sobre receitas financeiras, considerando os 5 últimos anos, corrigido pela Selic.</p>
                        </div>
                        <a class="w-inline-block" ui-sref="desenvolvimentoV">
                            <div class="nav-arrow right">›</div>
                        </a>
                        <a class="w-inline-block" ui-sref="desenvolvimentoIII">
                            <div class="left nav-arrow">‹</div>
                        </a>
                        <h1 class="content-title">IV</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
