<div class="view" id="desenvolvimento-5">
        <div class="vertical-center">
            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <nav>
                            <h1 class="avoid-overflow">Desenvolvimento dos trabalhos no âmbito judicial</h1>
                            <ul class="submenu w-list-unstyled">
                                <li class="submenu-item"><a class="w-clearfix" ui-sref="desenvolvimentoI"><span class="submenu-item-before">I</span>Exclusão ICMS/ISSQN/CPRB<br>Base Incidência PIS-COFINS</a>
                                </li>
                                <li class="submenu-item"><a class="w-clearfix" ui-sref="desenvolvimentoII"><span class="submenu-item-before">II</span>Adicional de 10% sobre a<br>multa do FGTS</a>
                                </li>
                                <li class="submenu-item"><a class="w-clearfix" ui-sref="desenvolvimentoIII"><span class="submenu-item-before">III</span>Contribuição previdenciária sobre verbas indenizatórias</a>
                                </li>
                                <li class="submenu-item"><a class="w-clearfix" ui-sref="desenvolvimentoIV"><span class="submenu-item-before">IV</span>PIS-COFINS receitas<br>financeiras</a>
                                </li>
                                <li class="submenu-item"><a class="submenu-item-link w-clearfix w--current" ui-sref="desenvolvimentoV"><span class="submenu-item-before">V</span>Contribuição previdenciária de transportador autônomo</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="w-col w-col-1"></div>
                    <div class="w-col w-col-7">
                        <div class="content-box less-text w-richtext">
                            <p><strong>Objeto</strong>: Ação judicial visando questionar a legalidade/constitucionalidade do aumento da base de cálculo da contribuição de 11,71% para 20% devida sobre a remuneração de trabalhadores autônomos em fretes, carretos e transportes, realizada por meio da Portaria 1.135/2001, do Ministério da Previdência e Assistência Social.</p>
                            <p><strong>Fundamento</strong>: Decisão do Supremo Tribunal Federal que, ao julgar o Recurso Ordinário em Mandado de Segurança (nº 25.476), reconheceu a inconstitucionalidade da majoração da contribuição mediante Portaria.</p>
                            <p><strong>Recuperação</strong>: Valor indevidamente recolhido a título de contribuição previdenciária compreendido pela diferença da base de cálculo de 11,71% para 20%, considerando os 5 últimos anos, corrigido pela Selic.</p>
                        </div>
                        <a class="w-inline-block" ui-sref="desenvolvimentoIV">
                            <div class="left nav-arrow">‹</div>
                        </a>
                        <h1 class="content-title">V</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
