<div class="view" id="gestao-trabalhista">
        <div class="vertical-center">
            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <nav>
                            <nav>
                                <h1>Gestão trabalhista</h1>
                                <ul class="submenu w-list-unstyled">
                                    <li class="single-line-item submenu-item"><a class="w-clearfix" ui-sref="gestaoTrabalhistaI"><span class="submenu-item-before">I</span> Depósito trabalhista</a>
                                    </li>
                                    <li class="submenu-item"><a class="w-clearfix" ui-sref="gestaoTrabalhistaII"><span class="submenu-item-before">II</span> Decadência em<br>processos trabalhistas</a>
                                    </li>
                                    <li class="single-line-item submenu-item"><a class="w-clearfix" ui-sref="gestaoTrabalhistaIII"><span class="submenu-item-before">III</span> DUE Diligence trabalhista</a>
                                    </li>
                                    <li class="submenu-item"><a class="w-clearfix" ui-sref="gestaoTrabalhistaIV"><span class="submenu-item-before">IV</span> Gestão de afastados<br>/ abstêmicos</a>
                                    </li>
                                </ul>
                            </nav>
                        </nav>
                    </div>
                    <div class="w-col w-col-1"></div>
                    <div class="w-col w-col-7">
                        <a class="w-inline-block" ui-sref="gestaoTrabalhistaI">
                            <div class="nav-arrow right">›</div>
                        </a><img class="submenu-thumbnail" src="img/gestaoTrabalhista.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
