<div class="view" id="gestao-trabalhista-4">
        <div class="vertical-center">
            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <nav>
                            <h1>Gestão trabalhista</h1>
                            <ul class="submenu w-list-unstyled">
                                <li class="single-line-item submenu-item"><a class="w-clearfix" ui-sref="gestaoTrabalhistaI"><span class="submenu-item-before">I</span> Depósito trabalhista</a>
                                </li>
                                <li class="submenu-item"><a class="w-clearfix" ui-sref="gestaoTrabalhistaII"><span class="submenu-item-before">II</span> Decadência em<br>processos trabalhistas</a>
                                </li>
                                <li class="single-line-item submenu-item"><a class="w-clearfix" ui-sref="gestaoTrabalhistaIII"><span class="submenu-item-before">III</span> DUE Diligence trabalhista</a>
                                </li>
                                <li class="submenu-item"><a class=" submenu-item-link w-clearfix w--current" ui-sref="gestaoTrabalhistaIV"><span class="submenu-item-before">IV</span> Gestão de afastados<br>/ abstêmicos</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="w-col w-col-1"></div>
                    <div class="w-col w-col-7">
                        <a class="w-inline-block" ui-sref="gestaoTrabalhistaIII">
                            <div class="left nav-arrow">‹</div>
                        </a>
                        <div class="content-box w-richtext">
                            <p>Levantamento dos empregados afastados da empresa, seja por doença ocupacional ou aposentadoria, bem como dos atestados médicos emitidos e das doenças correlacionadas, no intuito de identificar empregados que estejam compondo o quadro de funcionários, sem contudo, estarem efetivamente trabalhando e/ou identificação dos empregados que constantemente vêm apresentando atestados não relacionados aos procedimentos da empresa, de forma a elidir possíveis equívocos que impactam negativamente no FAP, no RAT, no preenchimento de cotas de deficientes e no recolhimento de contribuição previdenciária.</p>
                            <p>Após a análise dos documentos, será elaborado plano de ação para correção dos dados concernentes aos afastados e abstêmicos da corporação, bem como adoção das medidas judiciais para redução dos gastos com tais funcionários.</p>
                            <p><strong>Prazo de execução</strong>: 90 dias contados do recebimento da documentação.</p>
                            <p><strong>Expectativa de recuperação</strong>: variável conforme número de funcionários afastados e/ou abstêmicos.</p>
                        </div>
                        <h1 class="content-title">IV</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
