<div class="view" id="gestao-trabalhista-2">
        <div class="vertical-center">
            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <nav>
                            <h1>Gestão trabalhista</h1>
                            <ul class="submenu w-list-unstyled">
                                <li class="single-line-item submenu-item"><a class="w-clearfix" ui-sref="gestaoTrabalhistaI"><span class="submenu-item-before">I</span> Depósito trabalhista</a>
                                </li>
                                <li class="submenu-item"><a class=" submenu-item-link w-clearfix w--current" ui-sref="gestaoTrabalhistaII"><span class="submenu-item-before">II</span> Decadência em<br>processos trabalhistas</a>
                                </li>
                                <li class="single-line-item submenu-item"><a class="w-clearfix" ui-sref="gestaoTrabalhistaIII"><span class="submenu-item-before">III</span> DUE Diligence trabalhista</a>
                                </li>
                                <li class="submenu-item"><a class="w-clearfix" ui-sref="gestaoTrabalhistaIV"><span class="submenu-item-before">IV</span> Gestão de afastados<br>/ abstêmicos</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="w-col w-col-1"></div>
                    <div class="w-col w-col-7">
                        <a class="w-inline-block" ui-sref="gestaoTrabalhistaI">
                            <div class="left nav-arrow">‹</div>
                        </a>
                        <a class="w-inline-block" ui-sref="gestaoTrabalhistaIII">
                            <div class="nav-arrow right">›</div>
                        </a>
                        <div class="content-box less-text w-richtext">
                            <p>Exame das demandas trabalhistas cujo trânsito em julgado da decisão se deu em um lapso temporal superior a cinco anos da data da citação, vez que pode ter ocorrido a decadência do direito da Receita Federal do Brasil (RFB) de cobrar o "INSS". Por força de lei, considera-se como fato gerador das contribuições sociais a data da prestação do serviço, de modo que a Súmula Vinculante nº 8 STF dispõe que "O prazo para a RFB cobrar qualquer tributo do contribuinte, e vice e versa, é de cinco anos". Desta forma, podem-se recuperar todos os pagamentos efetuados indevidamente em relação às ultimas 60 competências.</p>
                            <p><strong>Prazo de execução</strong>: 60 dias contados do recebimento da documentação.</p>
                            <p><strong>Expectativa de recuperação</strong>: variável conforme número de demandas trabalhistas.</p>
                        </div>
                        <h1 class="content-title">II</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
