<article class="view" id="inicio">
        <div class="vertical-center">
            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-7"><img class="home-logo" src="img/bsInicial.png">
                    </div>
                    <div class="w-col w-col-5">
                        <div class="content-text w-richtext">
                            <p>BARTOLOMEU, SETTE ADVOGADOS (versalete) é um escritório de advocacia fundado em Belo Horizonte no ano de 1999. Adotando uma estratégia de expansão territorial, possui unidades em São Paulo e no Rio de Janeiro, contando com parcerias para atuação em todo o país.</p>
                            <p>O escritório prima pela excelência, através de um atendimento personalizado, realizado por profissionais qualificados. Proporciona serviços de advocacia consultiva e contenciosa, com suporte aos clientes na tomada de decisões estratégicas e na condução de seus negócios com segurança jurídica, sob os pressupostos da ética, pessoalidade e proatividade.</p>
                            <p>Nossa atuação profissional se estende a todos os ramos do Direito Empresarial, notadamente às áreas do Direito Tributário, Societário, Administrativo, Cível e Trabalhista.</p>
                            <p>Em razão da expertise nessas áreas, o escritório tem assessorado negócios de grande repercussão nacional nos setores de infraestrutura, mineração, petróleo, gás, segurança privada, além de sindicatos e associações.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
