<div class="view" id="revisao-fiscal-4">
        <div class="vertical-center">
            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <nav>
                            <h1>Revisão fiscal</h1>
                            <ul class="submenu w-list-unstyled">
                                <li class="submenu-item"><a class="single-line-item submenu-item-link w-clearfix" ui-sref="revisaoFiscalI"><span class="submenu-item-before">I</span> PIS COFINS</a>
                                </li>
                                <li class="submenu-item"><a class="single-line-item submenu-item-link w-clearfix" ui-sref="revisaoFiscalII"><span class="submenu-item-before">II</span> IRPJ e CSLL</a>
                                </li>
                                <li class="submenu-item"><a class="single-line-item submenu-item-link w-clearfix" ui-sref="revisaoFiscalIII"><span class="submenu-item-before">III</span> Estadual: ICMS</a>
                                </li>
                                <li class="submenu-item"><a class="single-line-item submenu-item-link w-clearfix w--current" ui-sref="revisaoFiscalIV"><span class="submenu-item-before">IV</span> Municipal: ISS</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="w-col w-col-1"></div>
                    <div class="w-col w-col-7">
                        <a class="w-inline-block" ui-sref="revisaoFiscalIII">
                            <div class="left nav-arrow">‹</div>
                        </a>
                        <div class="content-box less-text more-space w-richtext">
                            <p>Análise das atividades da empresa objetivando a redução da base de cálculo do ISS.</p>
                        </div>
                        <h1 class="content-title">IV</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
