<div class="view">
        <div class="vertical-center" id="revisao-fiscal-2">
            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <nav>
                            <h1>Revisão fiscal</h1>
                            <ul class="submenu w-list-unstyled">
                                <li class="submenu-item"><a class="single-line-item submenu-item-link w-clearfix" ui-sref="revisaoFiscalI"><span class="submenu-item-before">I</span> PIS COFINS</a>
                                </li>
                                <li class="submenu-item"><a class="single-line-item submenu-item-link w-clearfix w--current" ui-sref="revisaoFiscalII"><span class="submenu-item-before">II</span> IRPJ e CSLL</a>
                                </li>
                                <li class="submenu-item"><a class="single-line-item submenu-item-link w-clearfix" ui-sref="revisaoFiscalIII"><span class="submenu-item-before">III</span> Estadual: ICMS</a>
                                </li>
                                <li class="submenu-item"><a class="single-line-item submenu-item-link w-clearfix" ui-sref="revisaoFiscalIV"><span class="submenu-item-before">IV</span> Municipal: ISS</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="w-col w-col-1"></div>
                    <div class="w-col w-col-7">
                        <a class="w-inline-block" ui-sref="revisaoFiscalI">
                            <div class="left nav-arrow">‹</div>
                        </a>
                        <a class="w-inline-block" ui-sref="revisaoFiscalIII">
                            <div class="nav-arrow right">›</div>
                        </a>
                        <div class="content-box less-text w-richtext">
                            <ul>
                                <li>Revisão de Adições e Exclusões da Base de Cálculo;</li>
                                <li>Variação Cambial, Provisões, Hedge, Diferimentos com Órgãos Públicos, entre outros pontos.</li>
                                <li>Aplicação de Incentivos Fiscais (Lucro da Exploração, PAT, PRONAC, Imposto pago no Exterior entre outros).</li>
                                <li>Revisão de retenções de aplicações financeiras e serviços para pagamento de IRPJ/CSLL ou geração de Saldo Negativo.</li>
                                <li>Juros s/ Capital Próprio</li>
                                <li>Revisão de DIPJ e LALUR.</li>
                            </ul>
                        </div>
                        <h1 class="content-title">II</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
