.opacity1{
  opacity:1;
}


/*.ng-enter {
  transition:1s linear all;
  opacity:1
}

.ng-enter.ng-enter-active {
  opacity:1
}

.ng-leave {
  transition:1s linear all;
  opacity:1
}

.ng-leave.ng-leave-active {
  opacity:1
}*/


body,main {
  height: 100%;
  min-height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  font-size: 13px;
  letter-spacing: 0px;
}

.bg{
  height: 100%;
  min-height: 100%;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../img/pagina_inicial.jpg");

}

h1 {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  font-family: 'Droid Serif', serif;
  font-size: 30px;
  letter-spacing: -2px;
  text-transform: uppercase;
}

p {
  margin-bottom: 0.7em;
}

a {
  color: #006a8b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
}

li {
  margin-bottom: 1em;
}

img {
  display: inline-block;
  max-width: 100%;
}

.view {
  position: relative;
  min-height: 100%;
  background-color: #fff;
}

.view.customers {
  max-height: 100%;
}

.splash {
  background-image: url("https://daks2k3a4ib2z.cloudfront.net/56b10c57835a1cc917f749ba/5898b370176071a2715d70eb_apresenta%C3%A7%C3%A3o_v003.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.splash.view {
  height: 100%;
  min-height: 100%;
  background-color: transparent;
  background-image: none;
}

.navbar {
  display: block;
  width: 100%;
  border-bottom: 3px solid rgba(0, 0, 0, .5);
  background-color: #fff;
}

.nav-link {
  padding: 5px 17px;
  border-right: 1px solid #000;
  color: #000;
  font-size: 14px;
  text-align: center;
  letter-spacing: -1px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  color: #1ab5e6;
}

.nav-link.contact-us {
  padding-top: 1em;
  padding-bottom: 1em;
  border-right-color: transparent;
}

.nav-link.right-after-logo {
  border-left: 1px solid #000;
}

.brand {
  width: 120px;
}

.logo {
  width: 100%;
  height: auto;
  padding-top: 1em;
}

.nav-menu {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content {
  display: block;
}

.home-logo {
  display: block;
  width: 75%;
  margin: 1em auto;
}

.content-text {
  font-size: 17px;
  text-align: justify;
  letter-spacing: -1px;
}

.submenu {
  font-size: 16px;
  line-height: 22px;
}

.centered-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  min-height: 44px;
  min-width: 44px;
  margin-right: auto;
  margin-left: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-logo.customer {
  max-height: 100%;
  padding: 0px 10px;
}

.vertical-center {
  position: static;
  left: 50%;
  top: 50%;
  min-height: 240px;
  min-width: 240px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 2em;
  padding-bottom: 2em;
}

.submenu-item-before {
  display: inline-block;
  min-height: 44px;
  min-width: 44px;
  margin-right: 0.5em;
  float: left;
  font-family: 'Droid Serif', serif;
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
  text-align: right;
  letter-spacing: -4px;
}

.single-line-item {
  line-height: 44px;
}

.submenu-item {
  margin-bottom: 0.5em;
}

.submenu-item.spaced {
  margin-top: 2em;
}

.submenu-thumbnail {
  display: block;
  margin-top: 2em;
  text-align: center;
}

.nav-arrow {
  position: absolute;
  display: block;
  height: 88px;
  max-height: 88px;
  max-width: 88px;
  min-height: 44px;
  min-width: 44px;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  color: #d0d0d0;
  font-size: 88px;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
}

.nav-arrow:hover {
  color: #006a8b;
}

.nav-arrow.right {
  top: 50%;
  right: -33px;
}

.nav-arrow.left {
  left: 0px;
  top: 50%;
}

.content-slider {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.content-box {
  min-height: 470px;
  margin-left: 33px;
  padding: 33px 30px;
  border: 1px solid grey;
  font-size: 17px;
  text-align: justify;
}

.content-box.less-text {
  padding: 40px 44px;
}

.content-box.less-text.more-space {
  padding-top: 80px;
  padding-bottom: 80px;
  line-height: 22px;
}

.content-title {
  position: absolute;
  top: 1.5em;
  display: block;
  width: 64px;
  max-height: 66px;
  max-width: 66px;
  border-bottom-style: none;
  background-color: #fff;
  line-height: 66px;
  text-align: center;
}

.submenu-item-link {
  display: block;
}

.submenu-item-link.w--current {
  color: #000;
  font-weight: 700;
}

.submenu-item-link.single-line-item.w--current {
  text-decoration: underline;
}

.customers-row {
  margin-bottom: 1.5em;
}

.customer-logo {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: auto;
  height: auto;
  max-height: 150px;
  max-width: 200px;
  min-height: 75px;
  min-width: 130px;
  margin-right: auto;
  margin-left: auto;
}

.subtle {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 400;
}

.border-top {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #000;
}

.customer-logo-container {
  position: relative;
  height: 150px;
  min-height: 150px;
  min-width: 44px;
}

.customer-logo-column {
  width: 33%;
  height: 150px;
  max-height: 150px;
  min-height: 44px;
  float: left;
}

.customers-column {
  max-height: 100%;
}

@media (max-width: 991px) {
  h1 {
    font-size: 30px;
    line-height: 30px;
  }
  .content {
    left: auto;
    top: auto;
    padding-top: 10em;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .submenu {
    font-size: 13px;
  }
  .centered-logo {
    width: 100%;
    max-width: 400px;
  }
  .vertical-center {
    left: auto;
    top: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .submenu-item-before {
    min-height: 33px;
    min-width: 33px;
    font-size: 33px;
    line-height: 33px;
  }
}

@media (max-width: 767px) {
  .centered-logo {
    width: 80%;
    max-width: 350px;
  }
}

@media (max-width: 560px) {
  .customer-logo-column{
    width: 100%;
  }
}

@media screen and (max-width: 991px){
.w-container {
    max-width: 728px;
    height: 80px;
  }
}

@media (max-width: 479px) {
  .view {
    height: auto;
  }
  .centered-logo {
    width: 100%;
  }
}
